<div class="page-loading-wait page-loading-wait-outside" *ngIf="loading">
	<i class="fa fa-cog fa-spin fa-fw"></i>
	<h5>Verifying user</h5>
</div>
<div class="container-fluid fixed-centered-covers-entire-page" style="background-image: url(../../assets/img/landingpage_new.jpg);" *ngIf="!loading" >
	<div class="row">
		<div class="login-area col-10 col-sm-8 col-md-6 col-lg-4">
			<div class="text-center logo-container">
				<img class="img img-responsive bci-logo img-fluid" src="../../assets/img/logo_new.png" />
			</div>
			<div *ngIf="err" class="alert alert-danger alert-dismissible fade show" role="alert">
				Username or Password is wrong please try again.
			</div>
			
			<form name="form" (ngSubmit)="signinUser(f)" #f="ngForm" role="form"
				class="form">
				<div class="form-group has-feedback"
					[ngClass]="{'has-error':!username.valid && username.touched}">
					<h5 for="username">Username</h5> <input id="username"
						autocomplete="off" type="text" placeholder="Username"
						name="username" #username="ngModel" ngModel required
						class="form-control" /> <span
						class="glyphicon glyphicon-user form-control-feedback text-muted"></span>
					<span class="help-block"
						*ngIf="!username.valid && username.touched"> Username is
						required </span>
				</div>
				<div class="form-group has-feedback"
					[ngClass]="{'has-error':!password.valid && password.touched}">
					<h5 for="password">Password</h5> <input id="password"
						autocomplete="off" type="password" placeholder="Password"
						name="password" #password="ngModel" ngModel required
						class="form-control" /> <span
						class="glyphicon glyphicon-lock form-control-feedback text-muted"></span>
					<span class="help-block"
						*ngIf="!password.valid && password.touched"> Password is
						required </span>
				</div>
				<div class="form-actions form-group">
						<button mdbBtn type="submit" [disabled]="!f.valid" color="bctheme" class="waves-light btn-block" mdbWavesEffect>Login</button>
				</div>
				<div class="form-group text-center mt30 mb30">
					<p style="font-size: small;">
						© {{ currentDate | date:'yyyy' }} - <a href="https://www.blenheimchalcot.com/" target="_blank">Blenheim Chalcot</a>
					</p>
				</div>
			</form>
		</div>
	</div>
</div>

