.login-area {
	background: #fff;
	border: 2px solid #fff;
	border-radius: 7px;
	top:25%;
	left:0;
    right:0;
	float: none;
	position: absolute;
	margin: 0 auto;
	overflow-y: auto;
}
.fixed-centered-covers-entire-page{
	margin:auto;
    
	background-repeat: no-repeat;
	background-size:cover;
    background-position: 50%;
    background-color: #fff;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:-1;
    position:fixed;
}

.bci-logo{
	height: 100px;
	padding: 10px;
}
.logo-container{
	margin-top:15px;
	margin-bottom: 15px; 
}