<div class="row">
  <div class="col-md-12 col-sm-12 col-12" id="filter-row">
    <button mat-icon-button class="pull-right mr20" [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item (click)="initFilter()">
        <mat-icon>clear_all</mat-icon><span>Clear all</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>import_export</mat-icon><span>Save as PDF</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>import_export</mat-icon><span>Save as XL</span>
      </button>
    </mat-menu>
    <button mat-icon-button class="pull-right mr20 ml20" [matMenuTriggerFor]="menu">

      <mat-icon>calendar_today</mat-icon>
      <span>Last 7 Days</span>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item disabled>
        <span>Today</span>
      </button>
      <button mat-menu-item disabled>
        <span>Yesterday</span>
      </button>
      <button mat-menu-item>
        <span>Last 7 Days</span>
      </button>
      <button mat-menu-item disabled>
        <span>Current Month</span>
      </button>
      <button mat-menu-item disabled>
        <span>Current Year</span>
      </button>
    </mat-menu>
    <button mat-icon-button class="pull-right" [matMenuTriggerFor]="location">
      <mat-icon>rss_feed</mat-icon>
      <span>{{filterParam.resultType}}</span>
    </button>
    <mat-menu #location="matMenu">
      <button mat-menu-item (click)="filterParam.resultType='recent'">
        <span>Most Recent</span>
      </button>
      <button mat-menu-item (click)="filterParam.resultType='popular'">
        <span>Popular</span>
      </button>
    </mat-menu>
  </div>
</div>
<mat-accordion>
  <mat-expansion-panel class="mt15" expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h4><i class="fa fa-search news-icon"></i> Search</h4>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-12 search-content">
        <div class="all-of-these search-text">
          <input type="text" placeholder="All of these" class="form-control search-content-area" (keyup.enter)="onEnter('allOfThese')"
            [(ngModel)]="tempContent.allOfThese" id="allOfThese">
          <span class="badge badge-bc pd10 mrall10" (click)="removeText('allOfThese',i)" *ngFor="let content of contentFilters.allOfThese; let i = index;">{{content}}
            <span class="badge-text">X</span></span>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-12 search-content">
        <div class="at-least-once search-text">
          <input type="text" placeholder="At least once" class="form-control search-content-area" (keyup.enter)="onEnter('atLeastOnce')"
            [(ngModel)]="tempContent.atLeastOnce" id="atLeastOnce">
          <span class="badge badge-bc pd10 mrall10" (click)="removeText('atLeastOnce',i)" *ngFor="let content of contentFilters.atLeastOnce; let i = index;">{{content}}
            <span class="badge-text">X</span></span>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-12 search-content">
        <div class="none-of-these search-text">
          <input type="text" placeholder="None of these" class="form-control search-content-area" (keyup.enter)="onEnter('noneOfThese')"
            [(ngModel)]="tempContent.noneOfThese" id="noneOfThese">
          <span class="badge badge-bc pd10 mrall10" (click)="removeText('noneOfThese',i)" *ngFor="let content of contentFilters.noneOfThese; let i = index;">{{content}}
            <span class="badge-text">X</span></span>
        </div>
      </div>
      <div class="col-md-2 col-sm-4 col-12 offset-md-10 offset-sm-8 pdb15">
        <button mat-stroked-button color="bctheme" (click)="applyFilter()" class="btn-block">Search</button>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<mat-divider class="mt20"></mat-divider>

<div class="row">
  <div class="col-md-6 col-sm-12 col-12 search-data mt20 mb20">
    <mat-accordion>
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4><i class="fa fa-twitter-square twitter-icon"></i> Twitter Feeds</h4>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngIf="twitterData.items.length == 0 && twitterLoader==false" class="channel-content no-data">
          <p>No data available for selected filter.</p>
        </div>
        <div *ngIf="twitterData.items.length == 0 && twitterLoader==true" class="block-loader-tc channel-content text-center">
          <i [ngStyle]="{'color': '#0084b4'}" class="fa fa-cog fa-spin fa-3x fa-fw dashboard-graph-spin"></i>
        </div>
        <div *ngIf="twitterData.items.length > 0 && twitterLoader==false" class="channel-content">
          <mat-list>
            <mat-list-item *ngFor="let item of twitterData.items">
              <img matListAvatar src="{{item.user.user_profile}}" alt="...">
              <h3 matLine class="mt5"> {{item.user.user_screenname}} </h3>
              <h3 matLine class="mt5" matTooltip="{{item.tweet}}"> {{item.tweet}} </h3>
              <p matLine>
                <button mat-icon-button class="pull-left mr10" style="width: auto;">
                  <mat-icon>access_time</mat-icon>
                  <span class="ml5">{{item.created_at | date:'dd MMM yyyy h:mm a'}}</span>
                </button>
                <button mat-icon-button class="pull-left mr10" style="width: auto;">
                  <mat-icon>favorite_border</mat-icon>
                  <span class="ml5">{{item.liked_by}}</span>
                </button>
                <button mat-icon-button class="pull-left mr10" style="width: auto;">
                  <mat-icon>share</mat-icon>
                  <span class="ml5">{{item.retweeted_by}}</span>
                </button>
                <span *ngIf="item.sentiment=='positive'" class="pull-right sentiment-poisitive" matTooltip="Positive">
                  <mat-icon>sentiment_very_satisfied</mat-icon>
                </span>
                <span *ngIf="item.sentiment=='negative'" class="pull-right sentiment-nagative" matTooltip="Negative">
                  <mat-icon>sentiment_very_dissatisfied</mat-icon>
                </span>
              </p>
              <mat-divider></mat-divider>
            </mat-list-item>
          </mat-list>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="col-md-6 col-sm-12 col-12 search-data mt20 mb20">
    <mat-accordion>
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4><i class="fa fa-twitter-square twitter-icon"></i> Twitter sentiment analysis</h4>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngIf="twitterData.items.length == 0 && twitterLoader==false" class="channel-content no-data">
          <p>No data available for selected filter.</p>
        </div>
        <div *ngIf="twitterData.items.length == 0 && twitterLoader==true" class="block-loader-tc channel-content text-center">
          <i [ngStyle]="{'color': '#0084b4'}" class="fa fa-cog fa-spin fa-3x fa-fw dashboard-graph-spin"></i>
        </div>
        <div class="channel-content text-center" [ngClass]="{'chart-block-hide': twitterData.items.length == 0 || twitterLoader==true,'chart-block-show':twitterData.items.length > 0 && twitterLoader==false}">
          <canvas #twitterSentimentAnalysis id="pieChart" class="mrauto" width="335" height="335"></canvas>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<mat-divider></mat-divider>
<div class="row">
  <div class="col-md-12 col-sm-12 col-12 word-cloud mt20 mb20">
    <mat-accordion>
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4><i class="fa fa-twitter-square twitter-icon"></i> Twitter Word Cloud</h4>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngIf="twitterData.items.length == 0 && twitterLoader==false" class="channel-content-wc no-data-wc">
          <p>No data available for selected filter.</p>
        </div>
        <div *ngIf="twitterData.items.length > 0 && twitterLoader==false" class="channel-content-wc text-center">
          <img class="img img-fluid" src="{{twitterData.wordcloud_path}}" alt="Word Cloud">
        </div>
        <div *ngIf="twitterData.items.length == 0 && twitterLoader==true" class="block-loader-wc channel-content-wc text-center">
          <i [ngStyle]="{'color': '#0084b4'}" class="fa fa-cog fa-spin fa-3x fa-fw dashboard-graph-spin"></i>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<mat-divider></mat-divider>
<div class="row">
  <div class="col-md-6 col-sm-12 col-12 word-cloud mt20 mb20">
    <mat-accordion>
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4><i class="fa fa-newspaper-o news-icon"></i> News</h4>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngIf="newsData.items.length == 0 && newsLoader==false" class="channel-content no-data">
          <p>No data available for selected filter.</p>
        </div>
        <div *ngIf="newsData.items.length == 0 && newsLoader==true" class="block-loader-tc channel-content text-center">
          <i [ngStyle]="{'color': '#e73446'}" class="fa fa-cog fa-spin fa-3x fa-fw dashboard-graph-spin"></i>
        </div>
        <div *ngIf="newsData.items.length > 0 && newsLoader==false" class="channel-content">
          <mat-list>
            <mat-list-item *ngFor="let item of newsData.items">
              <img matListAvatar src="../../assets/img/news.png" alt="News">
              <h3 matLine class="mt5"> {{item.publisher}} </h3>
              <h3 matLine class="mt5" matTooltip="{{item.title}}"> {{item.title}} </h3>
              <p matLine>
                <button mat-icon-button class="pull-left mr10" style="width: auto;">
                  <mat-icon>access_time</mat-icon>
                  <span class="ml5">{{item.published_on | date:'dd MMM yyyy h:mm a'}}</span>
                </button>
                <button mat-icon-button class="pull-left mr10" style="width: auto;">
                  <mat-icon matTooltip="Facebook share">share</mat-icon>
                  <span class="ml5">{{item.social_shares.facebook}}</span>
                </button>
              </p>
              <mat-divider></mat-divider>
            </mat-list-item>
          </mat-list>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="col-md-6 col-sm-12 col-12 word-cloud mt20 mb20">
    <mat-accordion>
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4><i class="fa fa-newspaper-o news-icon"></i> News sentiment analysis</h4>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngIf="newsData.items.length == 0 && newsLoader==false" class="channel-content no-data">
          <p>No data available for selected filter.</p>
        </div>
        <div *ngIf="newsData.items.length == 0 && newsLoader==true" class="block-loader-tc channel-content text-center">
          <i [ngStyle]="{'color': '#e73446'}" class="fa fa-cog fa-spin fa-3x fa-fw dashboard-graph-spin"></i>
        </div>
        <div class="channel-content text-center" [ngClass]="{'chart-block-hide': newsData.items.length == 0 || newsLoader==true,'chart-block-show':newsData.items.length > 0 && newsLoader==false}">
          <canvas #newsSentimentAnalysis id="pieChartNews" class="mrauto" width="335" height="335"></canvas>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<mat-divider></mat-divider>
<div class="row">
  <div class="col-md-12 col-sm-12 col-12 word-cloud mt20 mb20">
    <mat-accordion>
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4><i class="fa fa-instagram instagram-icon"></i> Instagram Tag Count</h4>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngIf="instagramData.items.length == 0 && instagramLoader==false" class="channel-content-wc no-data-instagram">
          <p>No data available for selected filter.</p>
        </div>
        <div *ngIf="instagramData.items.length > 0 && instagramLoader==false" class="channel-content-wc text-center">
          <mat-list>
            <mat-list-item *ngFor="let item of instagramData.items">
              <h3 matLine><b># {{item.tag_name}}</b></h3>
              <h1 matLine>Used by {{item.tag_media_count}} instagram users</h1>
              <mat-divider></mat-divider>
            </mat-list-item>
          </mat-list>
        </div>
        <div *ngIf="instagramData.items.length == 0 && instagramLoader==true" class="block-loader-wc channel-content-wc text-center">
          <i [ngStyle]="{'color': '#bf2c73'}" class="fa fa-cog fa-spin fa-3x fa-fw dashboard-graph-spin"></i>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>