.search-content{
    width: auto;
    padding: 20px;
}
.search-text{
    padding: 10px;
    border: 1px solid #e6e6e6;
    min-height: 180px;
    border-radius: 7px; 
}

.search-content-area {
    background: transparent;
    border: none;
    border-bottom: 1px solid #e6e6e6;
}
.badge-bc{
    background-color: #3c3c3c;
    color: #fff;
    cursor: pointer;
    border : 3px solid #fff;
    border-radius: 7px;
}
.badge-text{
    color: #e73446;
    font-weight:bold;
    margin-left:5px;
}
#filter-row .mat-icon-button{
    width: auto !important;
}
.channel-content{
    height: 350px;
    overflow-y: auto;
}
.channel-content-wc{
    height: 200px;
}
.no-data,.block-loader-tc{
    text-align: center;
    line-height: 330px;
}
.no-data-instagram,.no-data-wc,.block-loader-wc{
    text-align: center;
    line-height: 200px;
}
.sentiment-poisitive{
    color: #00ba38;
}
.sentiment-nagative{
    color: #f8766d;
}
.sentiment-neutral{
    color: #619cff;
}
.dashboard-graph-spin{
    font-size: 100px;
    opacity: 0.8;
}
.chart-block-hide{
    display: none;
}
.chart-block-show{
    display: block;
}